<h3> 提交履歷到 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
    <%= f.input :content, label: "介紹" %>
    <%= f.input :attachment, label: "要上傳的檔案" %>
    <%= f.submit "送出" %>
<% end %>